alembic==1.6.5
better-profanity==0.7.0
fastapi==0.65.2
greenlet==1.1.0
importlib-metadata==4.5.0
Mako==1.1.4
MarkupSafe==2.0.1
psycopg2-binary==2.9.1
pydantic==1.8.2
python-dateutil==2.8.1
python-editor==1.0.4
python-http-client==3.3.2
sendgrid==6.7.1
six==1.16.0
SQLAlchemy==1.4.18
starkbank-ecdsa==1.1.1
starlette==0.14.2
typing-extensions==3.10.0.0
zipp==3.4.1
